<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViews2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75ACA7091E3560BD00ED6ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75ACA71D1E3560C100ED6ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75ACA7281E3560C100ED6ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
